  <div class="ring">
    <div class="dot dot--one">
      <ion-img
        src="assets/images/genericUserIcon.png"
        alt="Loading..."
      >
        ></ion-img>
    </div>
    <div class="dot dot--two">
      <ion-img
        src="assets/images/genericUserIcon.png"
        alt="Loading..."
      >
        ></ion-img>
    </div>
    <div class="dot dot--three">
      <ion-img
        src="assets/images/genericUserIcon.png"
        alt="Loading..."
      >
        ></ion-img>
    </div>
    <div class="dot dot--four">
      <ion-img
        src="assets/images/genericUserIcon.png"
        alt="Loading..."
      >
        ></ion-img>
    </div>
  </div>
