.header{
  text-align: center;
  ion-title{
    font-style: normal;
    font-weight: bolder;
  }
}
swiper-container{
  height: 100%;
  swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
