<ion-content [fullscreen]="true">
  <div class="login-header">
    <ion-text class="login-header__title">
      Ticket.me Log in
    </ion-text>
    <ion-text>
      Welcome back, you've been missed!
    </ion-text>
    <app-orbiting-slide></app-orbiting-slide>
  </div>
  <form [formGroup]="loginForm"  (ngSubmit)="login(loginForm.value)">
    <div class="login-input-container">
      <ion-item >
        <ion-input label="Email" label-placement="floating" class="login-input-container-input" placeholder="oava@pca.edu.co" type="text" formControlName="email">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <div class="login-input-container-validations">
        <ng-container  *ngFor="let validation of validation_messages.email">
          <div  *ngIf="(loginForm.get('email')?.hasError(validation.type) && (loginForm.get('email')?.dirty) || loginForm.get('email')?.touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-item >
        <ion-input label="Password" label-placement="floating" class="login-input-container-input" placeholder="Password" type="password"  formControlName="password">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <div class="login-input-container-validations">
        <ng-container  *ngFor="let validation of validation_messages.password">
          <div  *ngIf="(loginForm.get('password')?.hasError(validation.type) && (loginForm.get('password')?.dirty) || loginForm.get('password')?.touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-text class="login-forgot-password">Forgot Password?</ion-text>
    </div>
    <div class="login-button-container">
      <ion-button [disabled]="!loginForm.valid" color="medium" class="login-button" type="submit">Login</ion-button>
      <div class="login-button-register">
        <ion-text class="login-button-register-join">
          Join with us
        </ion-text>
        <ion-text class="login-button-register-account">
          Create Account
        </ion-text>
      </div>
    </div>
    <div class="login-terms-and-conditions">
      <ion-text class="login-terms-and-conditions-text">
        By continuing, you agree to our
      </ion-text>
      <ion-text class="login-terms-and-conditions-link">
        <b>Terms and Conditions</b>
      </ion-text>
      <ion-text class="login-terms-and-conditions-text">
        and
      </ion-text>
      <ion-text class="login-terms-and-conditions-link">
        <b>Privacy Policy</b>
      </ion-text>
    </div>
  </form>

</ion-content>
