<div class="slide-main">
  <app-orbiting-slide *ngIf="index === 0" ></app-orbiting-slide>
  <app-notifications-intro-component *ngIf="index === 2"></app-notifications-intro-component>
  <app-notifications-intro-component *ngIf="index === 2"></app-notifications-intro-component>
  <app-notifications-intro-component *ngIf="index === 2"></app-notifications-intro-component>
  <div class="ion-image-container">
    <ion-img *ngIf="index === 1" class="slide-image" src="assets/images/map-image.jpg"></ion-img>
  </div>
  <ion-text class="slide-title" >{{data.title}}</ion-text>
  <ion-text class="slide-description">{{data.description}}</ion-text>
</div>

